@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --background-color: #dbdbdb;
  --background-min-color: #fff;
  --background-max-color: #949494;
  --header-color: #00bfff;
  --footer-color: #00bfff;
  --secondary-color: #000;
}

body.dark {
  --background-color: #333;
  --background-min-color: #5f5f5f;
  --background-max-color: #0c0c0c;
  --header-color: #212529;
  --footer-color: #808080;
  --secondary-color: #fff;
}

body {
  color: var(--secondary-color);
  background: var(--background-color);

  transition: all 0.5s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
