@tailwind base;
@tailwind components;
@tailwind utilities;

body.white {
  --background-color: #dbdbdb;
  --background-min-color: #fff;
  --background-max-color: #949494;
  --header-color: #c7c9c9;
  --footer-color: #b9babb;
  --secondary-color: #000;
  --alternate-color: #ff0000;
  --error-color: #ff0000;
  --success-color: #00ff00;
  --warning-color: #ff9900;
}

body.dark {
  --background-color: #333;
  --background-min-color: #5f5f5f;
  --background-max-color: #0c0c0c;
  --header-color: #212529;
  --footer-color: #808080;
  --secondary-color: #fff;
  --alternate-color: #0027d4;
  --error-color: #ff0000;
  --success-color: #00ff00;
  --warning-color: #ff9900;
}

body.green {
  --background-color: #3db37c;
  --background-min-color: #61e6a8;
  --background-max-color: #288d5e;
  --header-color: #09ff00;
  --footer-color: #00ff22;
  --secondary-color: #000;
  --alternate-color: #ff0000;
  --error-color: #ff0000;
  --success-color: #0400ff;
  --warning-color: #ff9900;
}

body {
  --background-color: #9adcf1;
  --background-min-color: #b1e2f1;
  --background-max-color: #79d5f1;
  --header-color: #00ace6;
  --footer-color: #00bfff;
  --secondary-color: #000;
  --alternate-color: #00ff0d;
  --error-color: #ff0000;
  --success-color: #0400ff;
  --warning-color: #ff9900;
}

body {
  color: var(--secondary-color);
  /* background: var(--background-color); */
  background: linear-gradient(90deg, var(--background-min-color) 0%, var(--background-max-color) 100%);
  transition: all 0.5s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
